<app-header [pageTitle]="programForm.value.programName || ''"></app-header>
<div class="container">
    <form [formGroup]="programForm">
        <div class="grid" *ngIf="!isVersion; else version">
            <div class="col-12 md:col-4 lg:col-3">
                <div class="filter-hbox">
                    <div class="grid">
                        <div class="col-8 col-offset-2 pt-3">
                            <label class="filter-htext">About Program</label>
                        </div>
                        <div class="col-2 pt-3">
                            <i class="pi pi-history" style="font-size: 1.4rem" (click)="toVersion()"></i>
                        </div>
                    </div>
                </div>
                <div class="filter-box px-5 py-4">
                    <div class="grid mt-4">
                        <span class="p-float-label mb-2" *ngIf="isEdit; else elseProgramId">
                            <input id="float-input-invalid" type="text" pInputText pKeyFilter="int" formControlName="programId" class="ng-dirty p-inputtext-sm"> 
                            <label for="float-input-invalid">Program ID</label>
                        </span>
                        <ng-template #elseProgramId>
                            <label for="programId">Program ID : {{ programForm.value.programId }}</label>
                        </ng-template>
                    </div>
                    <div class="grid mt-4">
                        <span class="p-float-label mb-2" *ngIf="isEdit; else elseProgramName">
                            <input id="float-input-invalid" type="text" pInputText formControlName="programName" class="ng-dirty p-inputtext-sm"> 
                            <label for="float-input-invalid">Program Name</label>
                        </span>
                        <ng-template #elseProgramName>
                            <label for="programName">Program Name : {{ programForm.value.programName }}</label>
                        </ng-template>
                    </div>
                    <div class="grid mt-4">
                        <span class="p-float-label mb-2" *ngIf="isEdit; else elseProjectName">
                            <p-dropdown [options]="projects" optionLabel="projectName" [autoDisplayFirst]="false" [filter]="true"
                                filterBy="projectName" (onChange)="onChangeOption($event, 'project')" ></p-dropdown>
                            <label for="float-input-invalid">Project</label>
                        </span>
                        <ng-template #elseProjectName>
                            <label for="projectName">Project : {{ programForm.value.projectName }}</label>
                        </ng-template>
                    </div>
                    <div class="grid mt-4">
                        <span class="p-float-label mb-2" *ngIf="isEdit; else elseSystemName">
                            <p-dropdown [options]="systems" optionLabel="systemName" [autoDisplayFirst]="false" [filter]="true"
                                filterBy="systemName" (onChange)="onChangeOption($event, 'system')" ></p-dropdown>
                            <label for="float-input-invalid">System</label>
                        </span>
                        <ng-template #elseSystemName>
                            <label for="systemName">System : {{ programForm.value.systemName }}</label>
                        </ng-template>
                    </div>
                    <div class="grid mt-4">
                        <span class="p-float-label mb-2" *ngIf="isEdit; else elseSystemAnalystName">
                            <p-dropdown [options]="systemAnalysts" optionLabel="systemAnalystName" [autoDisplayFirst]="false" [filter]="true"
                            filterBy="systemAnalystName" (onChange)="onChangeOption($event, 'systemAnalyst')" ></p-dropdown>
                            <label for="float-input-invalid">System Analyst</label>
                        </span>
                        <ng-template #elseSystemAnalystName>
                            <label for="systemAnalystName">System Analyst : {{ programForm.value.systemAnalystName }}</label>
                        </ng-template>
                    </div>
                    <div class="grid mt-4">
                        <p-dropdown *ngIf="isEdit; else elseStatus" [options]="statuses" formControlName="status" class="p-inputtext-sm" placeholder="Select a status"></p-dropdown>
                        <ng-template #elseStatus>
                            <label for="status">Status : {{ programForm.value.status }}</label>
                        </ng-template>
                    </div>
                </div>
                <div class="filter-fbox p-1"  *ngIf="isEdit; else elseBlock">
                    <button pButton pRipple type="button" icon="pi pi-save" class="p-button-rounded p-button-secondary p-button-text mx-4" (click)="onSave(id)"></button>
                </div>
                <ng-template #elseBlock>
                    <div class="filter-fbox p-1">
                        <span *ngIf="canEdit">
                            <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-secondary p-button-text mx-4" (click)="isEdit = true"></button>
                            <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-secondary p-button-text mx-4" (click)="onDelete(id)"></button>
                        </span>
                        <button pButton pRipple type="button" icon="pi pi-print" class="p-button-rounded p-button-secondary p-button-text mx-4" (click)="onPrint()"></button>
                    </div>
                </ng-template>
            </div>
            <div class="col-12 md:col-8 lg:col-9 my-3">
                <p-scrollPanel [style]="{width: '100%', height: '100%'}">
                    <div [innerHTML]="programForm.value.sheet"></div>
                    <!-- <pdf-viewer [src]="programForm.value.sheet!"
                        [render-text]="false"
                        [original-size]="true"
                        [stick-to-page]="true"
                        [show-all]="true"
                        [autoresize]="true"
                        [show-borders]="true"
                        [zoom-scale]="'page-height'"
                        style="width: 100%; height: 100%"
                    ></pdf-viewer> -->
                    <hr *ngIf="isEdit">
                    <div class="grid" *ngIf="isEdit">
                        <div class="col-12">
                            <p-editor [ngModelOptions]="{standalone: true}" [(ngModel)]="programForm.value.sheet" [style]="{'height':'320px'}"></p-editor>
                        </div>
                    </div>
                </p-scrollPanel>
            </div>
        </div>
        <ng-template #version>
            <div class="grid">
                <div class="col-12">
                    <app-program-spec-version [programSpec]="programSpec" (version)="onSelectVersion($event)"></app-program-spec-version>
                </div>
            </div>
        </ng-template>
    </form>
</div>
