.container {
    background-color: #F6F6F6;
    text-align: center;
    justify-content: center;
    height: 840px;
}
.filter-hbox {
    background-color: #AAA;
    padding: 10px;
    height: 60px;
}
.filter-box {
    background-color: #F0F0F0;
    height: 710px;
}
.filter-fbox {
    background-color: #D7D7D7;
    height: 60px;
}

.filter-htext {
    font-size: 18px;
    font-family: cursive;
}
.filter-text {
    font-size: 15px;
    font-family: cursive;
}