<app-header [pageTitle]="programForm.value.programName || ''"></app-header>
<div class="container">
    <div class="grid" *ngIf="isVersion; else page">
        <div class="col-12">
            <app-program-spec-version [programSpec]="programSpec" (version)="onSelectVersion($event)"></app-program-spec-version>
        </div>
    </div>
    <ng-template #page>
        <div class="grid">
            <div class="col-12 lg:col-8 lg:col-offset-2 my-5">
                <p-tabView>
                    <p-tabPanel header="Program Details">
                        <p-table [value]="[programForm.value]" editMode="row" styleClass="p-datatable-gridlines" [tableStyle]="{'min-width': '100%'}">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th colspan="2" style="width:27%">Program</th>
                                    <th rowspan="2" style="width:15%">Project</th>
                                    <th rowspan="2" style="width:15%">System</th>
                                    <th rowspan="2" style="width:15%">System Analyst</th>
                                    <th rowspan="2" style="width:15%">Status</th>
                                    <th rowspan="2" style="width:13%" *ngIf="isEdit"></th>
                                </tr>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-program let-editing="editing">
                                <tr [pEditableRow]="program">
                                    <td style="width:13.5%">
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <input pInputText type="text" [(ngModel)]="program.programId">
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{program.programId || "-"}}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td style="width:13.5%">
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <input pInputText type="text" [(ngModel)]="program.programName">
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{program.programName || "-"}}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td style="width:15%">
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <p-dropdown [options]="projects" optionLabel="projectName" [autoDisplayFirst]="false" [filter]="true"
                                                    filterBy="projectName" (onChange)="onChangeOption($event, 'project')" ></p-dropdown>
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{program.projectName || "-"}}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td style="width:15%">
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <p-dropdown [options]="systems" optionLabel="systemName" [autoDisplayFirst]="false" [filter]="true"
                                                    filterBy="systemName" (onChange)="onChangeOption($event, 'system')" ></p-dropdown>
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{program.systemName || "-"}}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td style="width:15%">
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <p-dropdown [options]="systemAnalysts" optionLabel="systemAnalystName" [autoDisplayFirst]="false" [filter]="true"
                                                    filterBy="systemAnalystName" (onChange)="onChangeOption($event, 'systemAnalyst')" ></p-dropdown>
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{program.systemAnalystName || "-"}}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td style="width:15%">
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <p-dropdown [options]="statuses" formControlName="status" class="p-inputtext-sm" placeholder="Select a status"></p-dropdown>
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{program.status || "-"}}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td style="width:13%" class="text-right" *ngIf="isEdit">
                                        <div class="flex align-items-center justify-content-center gap-2">
                                            <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onProgramRowEditInit(program)" class="p-button-rounded p-button-text"></button>
                                            <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onProgramRowEditSave()" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                                            <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onProgramRowEditCancel()" class="p-button-rounded p-button-text p-button-danger"></button>
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </p-tabPanel>
    
                    <p-tabPanel header="Component Spec">
                        <app-component-spec [componentSpec]="componentSpec" [isEdit]="isEdit" id="componentSpec"></app-component-spec>
                    </p-tabPanel>
                    
                    <p-tabPanel header="Service Spec">
                        <app-service-spec [serviceSpec]="serviceSpec" [isEdit]="isEdit" id="serviceSpec"></app-service-spec>
                    </p-tabPanel>
                </p-tabView>
            </div>
        </div>
        <div class="grid" *ngIf="canEdit">
            <div class="col-12 lg:col-8 lg:col-offset-2">
                <div class="grid px-2">
                    <div class="col-6 text-left">
                        <div *ngIf="!isEdit; else saveBtn">
                            <button pButton label="Edit" icon="pi pi-pencil" (click)="editMode(programSpec, componentSpec, serviceSpec)" class="p-button-warning p-button-sm"></button>
                            <button pButton label="Delete" icon="pi pi-trash" (click)="onDelete(id)" class="p-button-danger p-button-sm ml-3"></button>
                        </div>
                        <ng-template #saveBtn>
                            <button pButton label="Save" icon="pi pi-save" (click)="onSave(id)" class="p-button-success p-button-sm"></button>
                            <button pButton label="Cancle" icon="pi pi-times" (click)="cancleEdit()" class="p-button-danger p-button-sm ml-3"></button>
                        </ng-template>
                    </div>
                    <div class="col-6 text-right">
                        <div *ngIf="!isEdit">
                            <button *ngIf="bookmarked; else Bookmark" pButton label="Bookmarked" icon="pi pi-bookmark-fill" (click)="onBookmark(id, bookmarked)" class="p-button-success p-button-sm"></button>
                            <ng-template #Bookmark><button pButton label="Bookmark" icon="pi pi-bookmark" (click)="onBookmark(id, bookmarked)" class="p-button-info p-button-sm"></button></ng-template>
                            <button pButton label="Export" icon="pi pi-upload" (click)="openExportDialog()" class="p-button-help p-button-sm ml-3"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</div>

<p-dialog [(visible)]="isExport" [style]="{width: '450px'}" header="Export File" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <label for="type"><b>File Type</b></label>
            <div class="formgrid grid">
                <div class="field-radiobutton col-6">
                    <p-radioButton name="type" value="pdf" [(ngModel)]="exportFile.type"></p-radioButton>
                    <label for="category1">PDF</label>
                </div>
                <div class="field-radiobutton col-6">
                    <p-radioButton name="type" value="doc" [(ngModel)]="exportFile.type"></p-radioButton>
                    <label for="category2">DOC</label>
                </div>
                <small class="p-error ml-2" *ngIf="isExportSubmit && !exportFile.type"><i>File type is required.</i></small>
            </div>
        </div>

        <div class="field">
            <label for="file"><b>Select File</b></label>
            <div class="formgrid grid">
                <div class="field-checkbox col-6">
                    <p-checkbox name="fileSelect" [value]="{spec: 'Component', name: '', element: 'componentSpec'}" [(ngModel)]="exportFile.fileSelect" inputId="cs"></p-checkbox>
                    <label for="cs">Component Spec</label>
                </div>
                <div class="field-checkbox col-6">
                    <p-checkbox name="fileSelect" [value]="{spec: 'Service', name: '', element: 'serviceSpec'}" [(ngModel)]="exportFile.fileSelect" inputId="ss"></p-checkbox>
                    <label for="ss">Service Spec</label>
                </div>
                <small class="p-error ml-2" *ngIf="isExportSubmit && exportFile.fileSelect.length < 1"><i>Please select file.</i></small>
            </div>
        </div>
        
        <div class="field" *ngFor="let file of exportFile.fileSelect">
            <label for="name"><b>File Name ({{file.spec}} Spec)</b></label>
            <input type="text" pInputText [(ngModel)]="file.name" autofocus />
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="OK" icon="pi pi-check" class="p-button-success" (click)="onExport(exportFile)"></button>
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-danger" (click)="hideExportDialog()"></button>
    </ng-template>
</p-dialog>
