<app-header [pageTitle]="'Register'"></app-header>
<div class="container">
    <div class="grid">
        <div class="lg:col-6 lg:col-offset-3 md:col-10 md:col-offset-1 sm:col-12 mt-5 py-5 card">
            <form [formGroup]="userForm" (submit)="onRegis()">
                <div class="grid center">
                    <div class="col-6 md:col-5 md:col-offset-1 lg:col-4 lg:col-offset-2">
                        <input class="inputForm" type="text" formControlName="firstName" pInputText [pKeyFilter]="'alpha'" placeholder="Firstname" required>
                    </div>
                    <div class="col-6 md:col-5 lg:col-4">
                        <input class="inputForm" type="text" formControlName="lastName" pInputText [pKeyFilter]="'alpha'" placeholder="Lastname" required>
                    </div>
                </div>
                <div class="grid mt-4 center">
                    <div class="col-6 md:col-5 md:col-offset-1 lg:col-4 lg:col-offset-2">
                        <input class="inputForm" type="text" formControlName="username" pInputText [pKeyFilter]="blockSpace" placeholder="Username" required>
                    </div>
                    <div class="col-6 md:col-5 lg:col-4">
                        <div class="p-inputgroup">
                            <input [type]="hiddenPassword ? 'password' : 'text'" pInputText placeholder="Password" formControlName="password" required>
                            <button class="p-button-secondary" type="button" pButton [icon]="hiddenPassword ? 'pi pi-eye-slash' : 'pi pi-eye'" (click)="hiddenPassword = !hiddenPassword"></button>
                        </div>
                    </div>
                </div>
                <div class="grid mt-4 center">
                    <div class="col-12 md:col-10 md:col-offset-1 lg:col-8 lg:col-offset-2">
                        <input class="inputForm" type="email" formControlName="email" pInputText placeholder="Email" required>
                    </div>
                </div>
                <div class="grid mt-4 center">
                    <div class="col-8 lg:col-offset-2 md:col-offset-1 field-checkbox">
                        <p-checkbox formControlName="isAgree" [binary]="true" inputId="binary"></p-checkbox>
                        <label for="binary" style="font-family: Arial">I agree to the <b #terms (click)="showTerms = true" (mouseover)="underline(terms)" (mouseout)="noneUnderline(terms)">Terms of User</b></label>
                    </div>
                </div>
                <div class="grid mt-4 btn">
                    <div class="col-8 lg:col-offset-2 md:col-offset-1">
                        <p-button label="SIGN UP" type="submit"></p-button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <p-dialog header="Long Content" [(visible)]="showTerms" [style]="{width: '35vw'}">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
            ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.</p>
        <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" (click)="okTerms()" label="Ok" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-dialog>
</div>