.footerbg {
    background-color: #0A1535;
    text-align: center;
    padding: 30px;
    height: 280px;
}
.foottext {
    color: white;
    font-size: 14px;
    font-family: cursive;
    margin-inline: 20px;
}
.head {
    font-size: 18px;
}
.fbox {
    padding-inline: 15%;
}
a {
    text-decoration: none;
}