<app-header [pageTitle]="'Add Service Specification'"></app-header>
<div class="container">

    <div class="grid">
        <div class="col-6 col-offset-3 mt-3">
            <app-add-program-step></app-add-program-step>
        </div>
    </div>
    
    <div class="grid mt-4 px-5">
        <div class="col-6 col-offset-3 py-5 box" style="height: 750px; overflow-y: scroll;">
            <div class="grid">
                <div class="col-10 col-offset-1">
                    <span class="p-float-label">
                        <input class="inputForm" type="text" pInputText [(ngModel)]="serviceComponent.title">
                        <label for="inputtext">Title</label>
                    </span>
                </div>
            </div>
            <div class="grid mt-3">
                <div class="col-10 col-offset-1">
                    <span class="p-float-label">
                        <input class="inputForm" type="text" pInputText [(ngModel)]="serviceComponent.host">
                        <label for="inputtext">Host</label>
                    </span>
                </div>
            </div>
            <div class="grid mt-3">
                <div class="col-10 col-offset-1">
                    <span class="p-float-label">
                        <input class="inputForm" type="text" pInputText [(ngModel)]="serviceComponent.port">
                        <label for="inputtext">Port</label>
                    </span>
                </div>
            </div>
            <div class="grid mt-3">
                <div class="col-10 col-offset-1">
                    <span class="p-float-label">
                        <input class="inputForm" type="text" pInputText [(ngModel)]="serviceComponent.contextRoot">
                        <label for="inputtext">Context Root</label>
                    </span>
                </div>
            </div>
            <div class="grid mt-2">
                <div class="col-10 col-offset-1 mt-3">
                    <label class="desc ml-2 mt-5">Er Diagram</label>
                    <p-fileUpload name="er[]" [customUpload]="true" (uploadHandler)="onUpload($event, 'er')" [multiple]="false" accept="image/*">
                        <ng-template pTemplate="content">
                            <li *ngIf="serviceComponent.erDiagram">{{ serviceComponent.erDiagram.name }} - {{ serviceComponent.erDiagram.size }} bytes</li>
                        </ng-template>
                    </p-fileUpload>
                </div>
            </div>
            <div class="grid mt-2">
                <div class="col-10 col-offset-1 mt-3">
                    <label class="desc ml-2 mt-5">Class Diagram</label>
                    <p-fileUpload name="class[]" [customUpload]="true" (uploadHandler)="onUpload($event, 'class')" [multiple]="false" accept="image/*">
                        <ng-template pTemplate="content">
                            <li *ngIf="serviceComponent.classDiagram">{{ serviceComponent.classDiagram.name }} - {{ serviceComponent.classDiagram.size }} bytes</li>
                        </ng-template>
                    </p-fileUpload>
                </div>
            </div>
            <div class="grid mt-3">
                <div class="col-10 col-offset-1">
                    <p-table [value]="serviceComponent.services!" dataKey="id" editMode="row" responsiveLayout="scroll">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width:8%">No.</th>
                                <th style="width:44%">Service</th>
                                <th style="width:14%">Method</th>
                                <th style="width:14%">Action</th>
                                <th style="width:20%"></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-service let-editing="editing" let-ri="rowIndex">
                            <tr [pEditableRow]="service">
                                <td style="width:8%">
                                    {{ri + 1}}
                                </td>
                                <td style="width:44%">
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText type="text" [(ngModel)]="service.service">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{service.service || "''{host}:{port}/{contextRoot}/api/example''"}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td style="width:14%">
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText type="text" [(ngModel)]="service.method">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{service.method || "''Method''"}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td style="width:14%">
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText type="text" [(ngModel)]="service.action">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{service.action || "''Action''"}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td style="width:20%">
                                    <div class="flex align-items-center justify-content-center gap-2">
                                        <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onServiceRowEditInit(service)" class="p-button-rounded p-button-text"></button>
                                        <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onServiceRowEditSave(service)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                                        <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onServiceRowEditCancel(service, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="footer">
                            <tr>
                                <td colspan="5">
                                    <div class="flex align-items-center justify-content-center gap-2">
                                        <button pButton pRipple type="button" icon="pi pi-plus" (click)="addServiceRow()" class="p-button-rounded p-button-text"></button>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
            <div *ngFor="let service of serviceComponent.services!; index as i">
                <div class="grid">
                    <div class="col-10 col-offset-1">
                        <p-table [value]="[service]" dataKey="id" editMode="row" responsiveLayout="scroll">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th colspan="3" pEditableColumn>
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <input pInputText type="text" [(ngModel)]="service.detail!.title" width="100%">
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{service.detail?.title || "''Service " + (i + 1) + "''"}}
                                            </ng-template>
                                        </p-cellEditor>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-detail let-editing="editing" let-ri="rowIndex">
                                <tr [pEditableRow]="detail">
                                    <td style="width:20%">
                                        Method Name
                                    </td>
                                    <td style="width:60%">
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <input pInputText type="text" [(ngModel)]="detail.detail.methodName">
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{detail.detail?.methodName || "''Method Name''"}}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td style="width:20%">
                                        <div class="flex align-items-center justify-content-center gap-2">
                                            <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onDetailServiceRowEditInit(detail.detail!)" class="p-button-rounded p-button-text"></button>
                                            <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onDetailServiceRowEditSave(detail.detail!)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                                            <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onDetailServiceRowEditCancel(detail.detail!, i)" class="p-button-rounded p-button-text p-button-danger"></button>
                                        </div>
                                    </td>
                                </tr>
                                <tr [pEditableRow]="detail">
                                    <td style="width:20%">
                                        Input Parameter
                                    </td>
                                    <td style="width:60%">
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <input pInputText type="text" [(ngModel)]="detail.detail.inputParameter">
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{detail.detail?.inputParameter || "''Input Parameter''"}}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td style="width:20%">
                                        <!-- <div class="flex align-items-center justify-content-center gap-2">
                                            <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onDetailServiceRowEditInit(detail.detail!)" class="p-button-rounded p-button-text"></button>
                                            <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onDetailServiceRowEditSave(detail.detail!)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                                            <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onDetailServiceRowEditCancel(detail.detail!, i)" class="p-button-rounded p-button-text p-button-danger"></button>
                                        </div> -->
                                    </td>
                                </tr>
                                <tr [pEditableRow]="detail">
                                    <td style="width:20%">
                                        Example Response
                                    </td>
                                    <td style="width:60%">
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <input pInputText type="text" [(ngModel)]="detail.detail.exampleResponse">
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{detail.detail?.exampleResponse || "''Example Response''"}}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td style="width:20%">
                                        <!-- <div class="flex align-items-center justify-content-center gap-2">
                                            <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onDetailServiceRowEditInit(detail.detail!)" class="p-button-rounded p-button-text"></button>
                                            <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onDetailServiceRowEditSave(detail.detail!)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                                            <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onDetailServiceRowEditCancel(detail.detail!, i)" class="p-button-rounded p-button-text p-button-danger"></button>
                                        </div> -->
                                    </td>
                                </tr>
                                <tr [pEditableRow]="detail">
                                    <td style="width:20%">
                                        Description
                                    </td>
                                    <td style="width:60%">
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <input pInputText type="text" [(ngModel)]="detail.detail.description">
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{detail.detail?.description || "''Description''"}}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td style="width:20%">
                                        <!-- <div class="flex align-items-center justify-content-center gap-2">
                                            <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onDetailServiceRowEditInit(detail.detail!)" class="p-button-rounded p-button-text"></button>
                                            <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onDetailServiceRowEditSave(detail.detail!)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                                            <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onDetailServiceRowEditCancel(detail.detail!, i)" class="p-button-rounded p-button-text p-button-danger"></button>
                                        </div> -->
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
            <!-- <div class="grid btn my-5">
                <div class="col-10 col-offset-1">
                    <p-button label="Add Component" (click)="addPage()"></p-button>
                </div>
            </div> -->
        </div>
    </div>
    <div class="grid btn mt-5">
        <div class="col-10 col-offset-1">
            <p-button label="NEXT" (click)="createProgram()"></p-button>
        </div>
    </div>
</div>