<app-header [pageTitle]="'Add Program Spec'"></app-header>
<div class="container py-5">
    <div class="grid mt-5">
        <div class="col-8 col-offset-2">
            <p-editor [ngModelOptions]="{standalone: true}" [(ngModel)]="text" [style]="{'height':'250px'}"></p-editor>
            <!-- <div class="panel">
                <div id="snow-container"></div>
                <div>
                  <button id="insert-table">Insert Table</button>
                  <button id="insert-row-above">Insert Row Above</button>
                  <button id="insert-row-below">Insert Row Below</button>
                  <button id="insert-column-left">Insert Column Left</button>
                  <button id="insert-column-right">Insert Column Right</button>
                  <button id="delete-row">Delete Row</button>
                  <button id="delete-column">Delete Column</button>
                  <button id="delete-table">Delete Table</button>
                </div>
              </div>
              <div class="panel">
                <div id="bubble-container"></div>
              </div>
              <div class="panel">
                <div id="output-container"></div>
              </div> -->
        </div>
    </div>
    <div class="grid mt-4">
        <div class="col-3 col-offset-2 py-5">
            <hr style="background-color: rgb(190, 190, 190); height: 10px">
        </div>
        <div class="col-2">
            <h2 style="color: gray;">OR</h2>
        </div>
        <div class="col-3 py-5">
            <hr style="background-color: rgb(190, 190, 190); height: 10px">
        </div>
    </div>
    <div class="grid mt-4">
        <div class="col-8 col-offset-2">
            <p-fileUpload name="demo[]" [customUpload]="true" (uploadHandler)="onUpload($event)" [multiple]="false" accept="application/pdf">
                    <ng-template pTemplate="content">
                        <li *ngIf="uploadedFile">{{ uploadedFile.name }} - {{ uploadedFile.size }} bytes</li>
                    </ng-template>
            </p-fileUpload>
            <label class="desc ml-2">Choose PDF file and upload.</label>
        </div>
        
        <div class="col-8 col-offset-2 mt-4">
            <p-button label="SAVE" (click)="onSavePdf()"></p-button>
        </div>
    </div>
</div>
