<app-header [pageTitle]="'Login'"></app-header>
<div class="container">
    <div class="grid">
        <div class="col-12 md:col-4 md:col-offset-4 mt-5">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                <input class="inputForm" type="text" [(ngModel)]="username" pInputText [pKeyFilter]="blockSpace" placeholder="Username">         
            </div>
        </div>
    </div>
    <div class="grid">
        <div class="col-12 md:col-4 md:col-offset-4 mt-4">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
                <input class="inputForm" type="password" [(ngModel)]="password" pInputText placeholder="Password">         
            </div>
        </div>
    </div>
    <div class="grid">
        <div class="col-12 md:col-4 md:col-offset-4 mt-3">
            <p-button label="GET STARTED" (click)="login()"></p-button>
        </div>
    </div>
    <div class="grid">
        <div class="col-12 md:col-4 md:col-offset-4">
            <label class="mr-3" (click)="toRegis()">Create Account</label>
            <label class="ml-3" (click)="toRecovPass()">Forgot Password?</label>
        </div>
    </div>
</div>