<app-header [pageTitle]="'Login'"></app-header>
<div class="container">
    <form [formGroup]="loginForm" (submit)="login()">
        <div class="grid">
            <div class="col-10 col-offset-1 md:col-6 md:col-offset-3 lg:col-2 lg:col-offset-5 mt-5">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                    <input class="inputForm" type="text" formControlName="username" pInputText [pKeyFilter]="blockSpace" placeholder="Username">         
                </div>
            </div>
        </div>
        <div class="grid">
            <div class="col-10 col-offset-1 md:col-6 md:col-offset-3 lg:col-2 lg:col-offset-5 mt-4">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
                    <input class="inputForm" type="password" formControlName="password" pInputText placeholder="Password">         
                </div>
            </div>
        </div>
        <div class="grid">
            <div class="col-10 col-offset-1 md:col-6 md:col-offset-3 lg:col-2 lg:col-offset-5 mt-3">
                <p-button label="GET STARTED" type="submit"></p-button>
            </div>
        </div>
        <div class="grid">
            <div class="col-12 md:col-6 md:text-right">
                <p-button label="Create Account" styleClass="p-button-link" (click)="toRegis()"></p-button>
            </div>
            <div class="col-12 md:col-6 md:text-left">
                <p-button label="Forgot Password?" styleClass="p-button-link" (click)="toRecovPass()"></p-button>
            </div>
        </div>
    </form>
</div>