.container {
    background-color: #D7D7D7;
    text-align: center;
    justify-content: center;
    height: 800px;
}

.inputForm {
    width: 100%;
}

.box {
    background-color: rgb(238, 238, 238);
    border-radius: 10px;
}