<app-header [pageTitle]="'Add Program'"></app-header>
<div class="container">
    <form [formGroup]="programForm" (submit)="onAddBtn()">
        <div class="grid">
            <div class="col-2 col-offset-4 mt-5">
                <span class="p-float-label">
                    <input class="inputForm" type="text" pInputText formControlName="programId">
                    <label for="inputtext">Program ID</label>
                </span>
            </div>
            <div class="col-2 mt-5">
                <span class="p-float-label">
                    <input class="inputForm" type="text" pInputText formControlName="programName">
                    <label for="inputtext">Program Name</label>
                </span>
            </div>
        </div>
        <div class="grid">
            <div class="col-4 col-offset-4 mt-5">
                <span class="p-float-label">
                    <p-dropdown [options]="projects" formControlName="projectId" [autoDisplayFirst]="false" optionLabel="projectName" optionValue="id" [filter]="true" filterBy="projectName, id" [showClear]="true" [style]="{'minWidth':'100%'}"></p-dropdown>
                    <label for="dropdown">Project</label>
                </span>
            </div>
        </div>
        <div class="grid">
            <div class="col-4 col-offset-4 mt-5">
                <span class="p-float-label">
                    <p-dropdown [options]="systems" formControlName="systemId" [autoDisplayFirst]="false" optionLabel="systemName" optionValue="id" [filter]="true" filterBy="systemName" [showClear]="true" [style]="{'minWidth':'100%'}"></p-dropdown>
                    <label for="dropdown">System</label>
                </span>
            </div>
        </div>
        <div class="grid">
            <div class="col-4 col-offset-4 mt-5">
                <span class="p-float-label">
                    <p-dropdown [options]="systemAnalysts" formControlName="systemAnalystId" [autoDisplayFirst]="false" optionLabel="systemAnalystName" optionValue="id" [filter]="true" filterBy="systemAnalystName" [showClear]="true" [style]="{'minWidth':'100%'}"></p-dropdown>
                    <label for="dropdown">System Analyst</label>
                </span>
            </div>
        </div>
        <div class="grid">
            <div class="col-4 col-offset-4 mt-5">
                <span class="p-float-label">
                    <p-dropdown [options]="statuses" formControlName="status" [autoDisplayFirst]="false" [showClear]="true" [style]="{'minWidth':'100%'}"></p-dropdown>
                    <label for="dropdown">Status</label>
                </span>
            </div>
        </div>
        <div class="grid btn">
            <div class="col-4 col-offset-4 mt-5">
                <p-button label="NEXT" type="submit"></p-button>
            </div>
        </div>
    </form>
</div>