<div class="grid" id="componentSpec">
    <div class="col-12" style="height: 600px; overflow-y: scroll;">
        <div class="grid">
            <div class="col-10 col-offset-1">
                <span class="p-float-label" *ngIf="isEdit; else title">
                    <input class="inputForm" type="text" pInputText [(ngModel)]="componentSpec.title">
                    <label for="inputtext">Title</label>
                </span>
                <ng-template #title>
                    <h2>{{ componentSpec.title }}</h2>
                </ng-template>
            </div>
        </div>
        <div *ngFor="let page of componentSpec.componentPage; index as i">
            <div class="grid">
                <div class="col-10 col-offset-1 mt-2">
                    <div class="col-8 col-offset-2" *ngIf="!isEdit; else uploadImage">
                        <p-image [src]="'/api/programspec/file/' + 'image1.png'" alt="Image" width="100%" [preview]="true"></p-image>
                    </div>
                    <ng-template #uploadImage>
                        <p-fileUpload name="demo[]" [customUpload]="true" (uploadHandler)="onUpload($event, i)" [multiple]="false" accept="image/*">
                            <ng-template pTemplate="content">
                                <li *ngIf="page.image">{{ page.image.name }} - {{ page.image.size }} bytes</li>
                            </ng-template>
                        </p-fileUpload>
                    </ng-template>
                </div>
            </div>
            <div class="grid mt-2">
                <div class="col-10 col-offset-1">
                    <p-table [value]="page.componentTable!" dataKey="id" editMode="row" styleClass="p-datatable-gridlines">
                        <ng-template pTemplate="header">
                            <tr>
                                <th colspan="5" pEditableColumn>
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText type="text" [(ngModel)]="page.name" width="100%">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{page.name || "''Component " + (i + 1) + "''"}}
                                        </ng-template>
                                    </p-cellEditor>
                                </th>
                            </tr>
                            <tr>
                                <th style="width:20%">Label</th>
                                <th style="width:20%">Attribute</th>
                                <th style="width:20%">Property</th>
                                <th style="width:20%">Event</th>
                                <th style="width:20%" *ngIf="isEdit"></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-component let-editing="editing" let-ri="rowIndex">
                            <tr [pEditableRow]="component">
                                <td style="width:20%">
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText type="text" [(ngModel)]="component.label">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{component.label || "-"}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td style="width:20%">
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText type="text" [(ngModel)]="component.attribute">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{component.attribute || "-"}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td style="width:20%">
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText type="text" [(ngModel)]="component.property">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{component.property || "-"}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td style="width:20%">
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText type="text" [(ngModel)]="component.event">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{component.event || "-"}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td style="width:20%" *ngIf="isEdit">
                                    <div class="flex align-items-center justify-content-center gap-2">
                                        <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onComponentRowEditInit(component)" class="p-button-rounded p-button-text"></button>
                                        <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onComponentRowEditSave(component)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                                        <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onComponentRowEditCancel(component, ri, i)" class="p-button-rounded p-button-text p-button-danger"></button>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="footer">
                            <tr>
                                <td colspan="5" *ngIf="isEdit">
                                    <div class="flex align-items-center justify-content-center gap-2">
                                        <button pButton pRipple type="button" icon="pi pi-plus" (click)="addComponentRow(i)" class="p-button-rounded p-button-text"></button>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
            <div class="grid mt-2">
                <div class="col-10 col-offset-1">
                    <p-table [value]="page.actionTable!" dataKey="id" editMode="row" styleClass="p-datatable-gridlines">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width:17%">Action Name</th>
                                <th style="width:63%">Description</th>
                                <th style="width:20%" *ngIf="isEdit"></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-action let-editing="editing" let-ri="rowIndex">
                            <tr [pEditableRow]="action">
                                <td style="width:17%">
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText type="text" [(ngModel)]="action.action">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{action.action || "-"}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td style="width:63%">
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input pInputText type="text" [(ngModel)]="action.description">
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{action.description || "-"}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td style="width:20%" *ngIf="isEdit">
                                    <div class="flex align-items-center justify-content-center gap-2">
                                        <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onActionRowEditInit(action)" class="p-button-rounded p-button-text"></button>
                                        <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onActionRowEditSave(action)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                                        <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onActionRowEditCancel(action, ri, i)" class="p-button-rounded p-button-text p-button-danger"></button>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="footer">
                            <tr>
                                <td colspan="3" *ngIf="isEdit">
                                    <div class="flex align-items-center justify-content-center gap-2">
                                        <button pButton pRipple type="button" icon="pi pi-plus" (click)="addActionRow(i)" class="p-button-rounded p-button-text"></button>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
            <div class="grid mt-5 mb-1" *ngIf="i < componentSpec.componentPage!.length - 1">
                <div class="col-10 col-offset-1">
                    <div style="background-color: rgba(230, 230, 230, 0); height: 10px; width: 100%"></div>
                </div>
            </div>
        </div>
        <div class="grid btn mt-3" *ngIf="isEdit">
            <div class="col-10 col-offset-1">
                <p-button label="Add Component" (click)="addPage()"></p-button>
            </div>
        </div>
    </div>
</div>
